.u-container {
  display: flex;
  justify-content: center;
}

.u-margin-left-small {
  margin-left: 1rem;
}

.u-capital-letters {
  text-transform: capitalize;
}

.u-margin-bottom-small {
  margin-bottom: 1rem;
}

.u-margin-y-small {
  margin: 1rem 0;
}

.u-no-list-style {
  list-style: none;
}

.u-margin-top-big {
  margin-top: 15rem;
}

.u-text-center {
  text-align: center;
}
