.form {
  width: 100%;
  padding: 1rem;

  &__input {
    outline: none;
    border: 1px solid #cccccc;
    background-color: white;
    font: inherit;
    padding: .6rem 1rem;
    display: block;
    width: 100%;
    border-radius: .4rem;

    &:focus {
      outline: none;
      background-color: #e8f0fe;
      border-bottom: 1px solid #7f3608;
    }

    &--invalid {
      border: 1px solid red;
      color: red;
    }
  }

  &__label {
    font-weight: bold;
    display: block;
    margin-bottom: .8rem;
    text-align: left;
    margin-left: .5rem;
  }
}
