@import "../abstracts/mixins";
@import "../abstracts/variables";

.side-drawer {
  background-color: $bg-color-burger;
  display: none;

  @include respond(phone) {
    display: block;
    position: fixed;
    width: 28rem;
    max-width: 70%;
    height: 100%;
    left: 0;
    top: 0;
    z-index: 200;
    padding: 3.2rem 1.6rem;
    transition: transform .3s ease-out;
  }

  &__logo {
    display: flex;
    justify-content: center;
  }

  &__open {
    transform: translateX(0);
  }

  &__closed {
    transform: translateX(-100%);
  }
}
